.mg-4 {
    margin-right: 4px;
    margin-left: 4px;
}
.gray-9 {
    background-color: #bfbfbf;
}

.form__create {
    text-align: left;
    margin-bottom: 12px;
    margin-left: 40px;
}


.bold_text {
    font-weight: 700;
  }

.margin_left {
    margin-left: 20px;   
}

.postMethod {
    margin: 20px 20px;
}

.margin_left_30 {
    margin-left: 40%;
}

.center_form {
    text-align: center;
    margin-left: 15%;
}

.button__create {
    padding: 30px;
    text-align: center;
  }